.social {

  &__list {
    list-style-type: none;
  }

  &__item {}

  &__link {
    color: currentColor;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    svg {
      stroke: currentColor;
      vertical-align: middle;
      transform: translateY(-0.125rem);
      margin-right: 0.75rem;
    }

    &:hover,
    &:active {
      color: @link-water;
    }
  }
}