<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="s-modal__title" id="myModalLabel">Заказать обратный звонок</h3>
      </div>
      <div class="modal-body">
        <form action="" class="s-modal__form s-form">
          <div class="row">
            <div class="s-form__group col-xs-12">
              <label for="name" class="s-form__label s-form__label--sr-only">Имя</label>
              <input type="text" class="s-form__input" placeholder="Ваше имя" required>
            </div>
            <div class="s-form__group col-xs-12">
              <label for="phone-number" class="s-form__label s-form__label--sr-only">Телефон</label>
              <input type="tel" class="s-form__input" placeholder="Телефон" required>
            </div>
            <div class="s-form__group col-xs-12">
              <button type="submit" class="s-btn s-btn--form-submit">Заказать авто</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
