.s-main-nav {
  font-family: @font-family--heading;
  background-color: @bg-color--darkest;
  color: @text-color--light;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  transform: translateX(100%);
  visibility: hidden;

  @media (min-width: @screen-md) {
    position: static;
    transform: none;
    background-color: @bg-color--default;
    color: @nav-link-color;
    visibility: visible;
    transition: transform 0s;
    display: inline-block;
    text-align: right;
    padding-top: 0.75rem;
  }

  &__list {
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    @media (min-width: @screen-md) {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0,0);
      text-align: right;
      display: inline-block;
      vertical-align: middle;

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  &__item {

    @media (min-width: @screen-md) {
      display: inline-block;
      position: relative;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      float: left;

      &:not(:last-child) {

        &::after {
          position: absolute;
          content: '';
          width: 4px;
          height: 4px;
          background-color: transparent;
          border: 1px solid @rock-blue;
          border-radius: 2px;
          top: 50%;
          right: -1px;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.2em;
    color: currentColor;
    text-transform: uppercase;
    padding: 1rem;

    &:hover,
    &:active {
      color: @nav-link-color-hover;
    }

    @media (min-width: @screen-md) {
      font-size: 1.125rem;
      padding: 0.5rem 0.25rem;
    }
  }

  &--is-active {
    transform: translateX(0);
    visibility: visible;
  }
}