.s-testimonials {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, #F6F7F9 0%, rgba(246,247,249,0.93) 100%);
    z-index: 0;
  }

  @media (min-width: @screen-md) {
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  &__inner {
    z-index: 1;
    position: relative;
  }

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }

    @media (min-width: @screen-md) {

      &::before {
        top: -2rem;
        width: 140px;
        height: 36px;
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-desktop-testimonials.svg');
      }
    }
  }

  &__slider {
    text-align: left;
  }

  &__item {
    border: 1px solid @white;
    padding: 1.5rem;
    margin: 0;
  }

  &__author {
    margin-top: 0.5rem;
  }

  &__text {
    color: @resolution-blue;
    font-size: 0.875rem;
    line-height: 1.35em;

    @media (min-width: @screen-sm) {
      font-size: 1rem;
      line-height: 1.25em;
    }
  }
}