<section class="s-testimonials" style="background-image: url(img/bg-testimonials.png);">
  <div class="s-testimonials__inner">
    <div class="container">
      <h2 class="s-testimonials__title s-main-subtitle">Отзывы о нас</h2>
      <div class="s-testimonials__slider s-main-slider owl-carousel owl-theme">
        <div>
          <blockquote class="s-testimonials__item" cite="http://www.worldwildlife.org/who/index.html">
            <h3 class="s-testimonials__author">Татьяна</h3>
            <p class="s-testimonials__text">Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты &#8230;</p>
          </blockquote>
        </div>
        <div>
          <blockquote class="s-testimonials__item" cite="http://www.worldwildlife.org/who/index.html">
            <h3 class="s-testimonials__author">Татьяна</h3>
            <p class="s-testimonials__text">Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты &#8230;</p>
          </blockquote>
        </div>
        <div>
          <blockquote class="s-testimonials__item" cite="http://www.worldwildlife.org/who/index.html">
            <h3 class="s-testimonials__author">Татьяна</h3>
            <p class="s-testimonials__text">Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты &#8230;</p>
          </blockquote>
        </div>
      </div>
      <a href="testimonials.html" class="s-btn s-btn--ghost s-btn--with-shape">
        Смотреть все
        <svg width="26" height="7"><use xlink:href="#btn-shape"></use></svg>
      </a>
    </div>
  </div>
</section>
