.s-customer-review {
  margin-bottom: 1rem;

  @media (min-width: @screen-md) {
    margin-bottom: 3rem;
  }

  &__cover {
    height: 385px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 75% 50%;
    }
  }

  &__info {
    font-size: 1.125rem;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-family: @font-family--heading;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__date {
    float: left;
    color: @ship-cove;
    padding-right: 1rem;
  }

  &__customer-name {
    float: left;
  }

  &__link-to-original {
    display: inline-block;
    width: 100%;
    color: @resolution-blue;
    margin-top: 0.5rem;

    @media (min-width: @screen-sm) {
      float: right;
      display: inline;
      width: auto;
      margin-top: 0;
    }
  }

  &__text {
    line-height: 1.125rem;
  }
}