.s-promo {
  background-color: @bg-color--light;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__product {

    .s-product-card {
      transition: all 0.25s ease-in 0.125s;
    }

    &:hover {

      .s-product-card {
        transition: all 0.25s ease-in 0s;
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.5);
      }
    }
  }
}