<div class="s-promo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/luxury.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Представительский класс</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/business.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Премиум класс</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/cabriolet.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Кабриолеты</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/old.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Ретро - автомобили</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/kit.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Кит - кары</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/suv.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Внедорожники</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="#" class="s-promo__product">
          <div class="s-product-card" style="background-image: url(img/minivan.png);">
            <div class="s-product-card__content">
              <div class="s-product-card__name">Трансфер для гостей</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-calculate-the-cost">
          <div class="s-calculate-the-cost__title">Калькулятор</div>
          <div class="s-calculate-the-cost__desc">Воспользуйтесь удобным калькулятором и рассчитайте стоимость заказа прямо сейчас!</div>
          <a href="calculator.html" class="s-calculate-the-cost__btn s-btn">Расчитать стоимость</a>
        </div>
      </div>
    </div>
  </div>
</div>
