.s-pagination {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__list {
    list-style-type: none;
    display: inline-block;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    display: inline-block;
    line-height: 40px;
    min-width: 30px;
    vertical-align: middle;
    border: 1px solid @border-color;
    text-align: center;
    color: @chambray;
    border-radius: 2px;

    svg {
      width: 15px;
      height: 8px;
      fill: currentColor;
    }

    &--previous {

      svg {
        transform: rotate3d(0,0,1,180deg);
      }
    }

    &--next {

      svg {
        transform: translateY(-0.1rem);
      }
    }
  }
}