.s-breadcrumbs {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  color: @link-water;
  letter-spacing: 0.01em;
  font-family: @font-family--heading;
  background-color: @bg-color--default;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;

    svg {
      fill: currentColor;
    }

    a {
      color: currentColor;
    }

    &:not(:last-child) {
      margin-right: 0.75rem;

      &::after{
        content: '';
        display: inline-block;
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/breadcrumbs-shape.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 15px;
        height: 8px;
        vertical-align: middle;
        margin-left: 0.75rem;
      }
    }

    &--is-active {
      color: @nav-link-color;
    }
  }

  &--bg-color-light {
    background-color: @bg-color--light;
  }
}