.s-page-header {
  background-color: @bg-color--default;
  box-shadow: @box-shadow;
  position: relative;
  z-index: 10;

  &__humburger {
    position: absolute;
    top: 0;
    right: 0.5rem;
    z-index: 3;

    @media (min-width: @screen-md) {
      display: none;
    }
  }

  &__contact {
    font-family: @font-family--heading;
    color: @rock-blue;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid @border-color;
  }

  &__contact-group {

    &:first-child {
      text-align: left;
    }

    &:last-child {

      @media (min-width: @screen-md) {
        text-align: right;
      }
    }
  }

  &__contact-list {
    list-style-type: none;
    display: inline-block;
  }

  &__contact-item {
    display: none;

    @media (min-width: @screen-md) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &--always-visible {
      display: inline-block;
    }
  }

  &__contact-link {
    display: inline-block;
    color: currentColor;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    svg {
      transform: translateY(-0.075rem);
      margin-right: 0.5rem;
      stroke: currentColor;
      vertical-align: middle;
    }
  }

  &__feedback-btn {
    font-family: @font-family--heading;
    text-transform: uppercase;
    color: @lightning-yellow;
    display: none;
    padding: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 3rem;
    cursor: pointer;

    &:hover,
    &:active {
      color: @resolution-blue;
    }

    @media (min-width: @screen-lg) {
      display: inline-block;
    }
  }

  &__nav {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}