.s-gallery {

  &__cover {
    border-radius: 4px;
    overflow: hidden;
    height: 320px;
    margin-bottom: 5px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__thumb {
    position: relative;
    height: 80px;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.25s ease 0s;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.25s cubic-bezier(.75,.15,.15,.75) 0s;
      box-sizing: border-box;
    }

    &:hover {

      img {
        transform: scale(1.2);
      }
    }
  }
}