.s-btn {
  position: relative;
  display: inline-block;
  background-color: @button-main-bg-color;
  background-image: none;
  color: @button-ghost-color;
  padding: 0.64em 1em;
  min-width: 200px;
  border-radius: 2px;
  font-family: @font-family--heading;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.25s ease-in-out 0s;

  &:hover,
  &:active {
    background-color: @button-main-bg-hover;
  }

  &--ghost {
    color: @button-ghost-color;
    background-color: @button-ghost-bg-color;
    border: 1px solid @button-ghost-border-color;

    &:hover,
    &:active {
      color: @button-ghost-color;
      border: 1px solid @button-ghost-border-hover;
      background-color: @button-ghost-bg-color;
    }
  }

  &--with-shape {

    svg {
      margin-left: 0.5rem;
      vertical-align: middle;
      stroke: currentColor;
      transform: translateY(-0.125rem);
    }
  }

  &--form-submit {
    width: 100%;
  }
}