.s-car-park {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: @screen-md) {
    padding-top: 6rem;
  }

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }

    @media (min-width: @screen-md) {

      &::before {
        top: -2rem;
        width: 162px;
        height: 26px;
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-desktop-car-park.svg');
      }
    }
  }

  &__slider {

    @media (min-width: @screen-md) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position: 50% 50%;
    min-height: 150px;
    padding: 2rem;
  }

  &--bg-color-light {
    background-color: @bg-color--light;
  }
}