<section class="s-car-park">
  <div class="container">
    <h2 class="s-car-park__title s-main-subtitle">Автопарк “Merrycars”</h2>
    <div class="s-car-park__slider s-main-slider owl-carousel owl-theme">
      <div class="s-car-park__item" style="background-image: url(img/bmw.png);"></div>
      <div class="s-car-park__item" style="background-image: url(img/audi.png);"></div>
      <div class="s-car-park__item" style="background-image: url(img/mercedes-benz.png);"></div>
      <div class="s-car-park__item" style="background-image: url(img/jaguar.png);"></div>
      <div class="s-car-park__item" style="background-image: url(img/lexus.png);"></div>
      <div class="s-car-park__item" style="background-image: url(img/cadillac.png);"></div>
    </div>
  </div>
</section>
