.s-main-subtitle {
  color: @main-subtitle-color;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;

  &::before {
    position: absolute;
    content: '';
    top: -1.25rem;
    left: 50%;
    transform: translate(-50%,-50%);
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @screen-sm) {
    font-size: 2.25rem;
  }

  &--small {
    text-align: left;
    color: @resolution-blue;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &::before {
      display: none;
    }

    @media (min-width: @screen-sm) {
      font-size: 1.5rem;
    }
  }
}