@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/robotocondensed-regular.woff2') format('woff2'),
       url('../fonts/robotocondensed-regular.woff') format('woff'),
       url('../fonts/robotocondensed-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}