a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[role="button"],
[type="button"] {
  cursor: pointer;
}

html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: @font-family;
  color: @text-color;
  font-size: @font-size;
  line-height: @line-height;
}

img {
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-style: normal;
  font-family: @font-family--heading;
  line-height: @line-height--heading;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: @font-size--h1;
}

h2 {
  font-size: @font-size--h2;
}

h3 {
  font-size: @font-size--h3;
}

h4 {
  font-size: @font-size--h4;
}

small {
  font-size: @font-size--small;
}

b,
strong {
  font-weight: 700;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

button {
  background-color: inherit;
  border: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
    -webkit-appearance: none;
}

input[type="text"],
textarea {
  text-transform: capitalize;
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 30px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select-styled {
  position: absolute;
  height: 36px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: @text-color;
  width: 100%;
  height: 44px;
  min-width: 200px;
  border: 1px solid @input-border;
  border-radius: 2px;
  padding: 10px 20px;
  vertical-align: middle;

  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: @chambray transparent transparent transparent;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &:focus,
  &:active,
  &.active {
    border-bottom: 1px solid orange;

    &:after {
      top: 12px;
      border-color: transparent transparent @chambray transparent;
    }
  }
}

.select-options {
  height: auto;
  max-height: 300px;
  overflow-y: scroll;
  display: none;
  position: absolute;
  top: 43px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @bg-color--default;
  border: 1px solid @border-color;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.25);

  li {
    color: @text-color;
    margin: 0;
    padding: 10px 20px;
    border-top: 1px solid @border-color;
    transition: all 0.125s ease-in-out 0s;

    &:hover {
      color: @text-color--light;
      background-color: @resolution-blue;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}