// Width

@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1440px;
@screen-xxl:                  1920px;


// Colors

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 15%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   hsl(0, 0%, 40%);
@gray:                        hsl(0, 0%, 50%);
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 85%);
@gray-lightest:               hsl(0, 0%, 97%);
@white:                       hsl(0, 0%, 100%);

@midnight:                    #1f2a3a;
@resolution-blue:             #21377c;
@lightning-yellow:            #f0a631;
@golden-tainoi:               #ffbb4f;
@chambray:                    #516077;
@rock-blue:                   #98a1b0;
@ship-cove:                   #858e9e;
@link-water:                  #bec4cf;
@hawkes-blue:                 #dce1ea;
@lavender:                    #e3e5f0;
@alice-blue:                  #f6f7f9;

@text-color:                  @midnight;
@text-color--light:           @white;

@main-subtitle-color:         @resolution-blue;

@nav-link-color:              @resolution-blue;
@nav-link-color-hover:        @lightning-yellow;

@bg-color--default:           @white;
@bg-color--light:             @alice-blue;
@bg-color--darkest:           @midnight;

@border-color:                @hawkes-blue;
@box-shadow:                  0 2px 16px 0 #dde4f0;

@hamburger-color:             @midnight;

@button-main-color:           @midnight;
@button-main-bg-color:        @golden-tainoi;
@button-main-bg-hover:        @lightning-yellow;

@button-ghost-color:          @resolution-blue;
@button-ghost-bg-color:       transparent;
@button-ghost-border-color:   @link-water;
@button-ghost-border-hover:   @resolution-blue;

@input-border:                @hawkes-blue;
@input-border-focus:          @golden-tainoi;


// Typography

// Main size
@font-size:                   100%;
// @font-size--desktop:          112.5%;

// Custom
@font-size--h1:               3.375rem;
@font-size--h2:               2.25rem;
@font-size--h3:               1.5rem;
@font-size--h4:               1.125rem;
// @font-size--h5:               1em;
// @font-size--h6:               1em;
@font-size--small:            0.75rem;
@font-size--accent:           1.125rem;

@font-family:                 "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@font-family--heading:        "Roboto Condensed";
@font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
@font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@line-height:                 1.55em;
// @line-height--desktop:        1.5em;
@line-height--heading:        1.2em;