.s-catalog {
  background-color: @bg-color--light;
  padding-top: 1rem;
  padding-bottom: 2rem;

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }
  }

  &__item {
    position: relative;
    min-height: 320px;

    &:hover {
      color: #000;

      .s-catalog__item-sublayer {
        color: #000;
        visibility: visible;
        opacity: 1;
        transition: all 0.25s cubic-bezier(.8,.1,.2,.9) 0s;
      }
    }

    @media (min-width: @screen-sm) {
      min-height: 320px;
    }

    @media (min-width: @screen-md) {
      min-height: 320px;
    }
  }

  &__item-sublayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: @lavender;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s cubic-bezier(.8,.1,.2,.9) 0.1s;
    z-index: 10;
    padding: 2rem;
  }

  &__item-name {
    font-size: 1.125rem;
    position: relative;
    text-transform: uppercase;
    color: #232a76;
    font-family: @font-family--heading;
    margin-top: 0;

    &::after {
      position: absolute;
      content: '';
      width: 87px;
      height: 2px;
      bottom: -1rem;
      left: 0.125rem;
      background-color: currentColor;
    }

    @media (min-width: @screen-sm) {
      font-size: 1.5rem;
    }
  }

  &__item-desc {

    table {
      width: 100%;
      color: @resolution-blue;
      margin-top: 4rem;

      td {
        padding: 0;

        &:first-child {
          color: @chambray;
          width: 80px;
        }
      }
    }
  }

  &__item-btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    min-width: 160px;
  }
}