<section class="s-catalog">
  <div class="container">
    <h2 class="s-catalog__title s-main-subtitle">Аренда авто представительского класса</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-catalog__item s-product-card" style="background-image: url(img/luxury.png);">
          <div class="s-product-card__content">
            <div class="s-product-card__name">Представительский класс</div>
          </div>
          <div class="s-catalog__item-sublayer">
            <div class="s-catalog__item-name">Представительский класс</div>
            <div class="s-catalog__item-desc">
              <table>
                <tr>
                  <td>Цвет:</td>
                  <td>Белый</td>
                </tr>
                <tr>
                  <td>Салон:</td>
                  <td>Светлый</td>
                </tr>
                <tr>
                  <td>Мест:</td>
                  <td>4</td>
                </tr>
              </table>
            </div>
            <a href="#" class="s-catalog__item-btn s-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-catalog__item s-product-card" style="background-image: url(img/luxury.png);">
          <div class="s-product-card__content">
            <div class="s-product-card__name">Представительский класс</div>
          </div>
          <div class="s-catalog__item-sublayer">
            <div class="s-catalog__item-name">Представительский класс</div>
            <div class="s-catalog__item-desc">
              <table>
                <tr>
                  <td>Цвет:</td>
                  <td>Белый</td>
                </tr>
                <tr>
                  <td>Салон:</td>
                  <td>Светлый</td>
                </tr>
                <tr>
                  <td>Мест:</td>
                  <td>4</td>
                </tr>
              </table>
            </div>
            <a href="#" class="s-catalog__item-btn s-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-catalog__item s-product-card" style="background-image: url(img/luxury.png);">
          <div class="s-product-card__content">
            <div class="s-product-card__name">Представительский класс</div>
          </div>
          <div class="s-catalog__item-sublayer">
            <div class="s-catalog__item-name">Представительский класс</div>
            <div class="s-catalog__item-desc">
              <table>
                <tr>
                  <td>Цвет:</td>
                  <td>Белый</td>
                </tr>
                <tr>
                  <td>Салон:</td>
                  <td>Светлый</td>
                </tr>
                <tr>
                  <td>Мест:</td>
                  <td>4</td>
                </tr>
              </table>
            </div>
            <a href="#" class="s-catalog__item-btn s-btn">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-catalog__item s-product-card" style="background-image: url(img/luxury.png);">
          <div class="s-product-card__content">
            <div class="s-product-card__name">Представительский класс</div>
          </div>
          <div class="s-catalog__item-sublayer">
            <div class="s-catalog__item-name">Представительский класс</div>
            <div class="s-catalog__item-desc">
              <table>
                <tr>
                  <td>Цвет:</td>
                  <td>Белый</td>
                </tr>
                <tr>
                  <td>Салон:</td>
                  <td>Светлый</td>
                </tr>
                <tr>
                  <td>Мест:</td>
                  <td>4</td>
                </tr>
              </table>
            </div>
            <a href="#" class="s-catalog__item-btn s-btn">Заказать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>