.s-product-card {
  background-color: @bg-color--light;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 170px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  padding: 2rem;
  z-index: 1;
  margin-bottom: 1rem;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.23) 46%, rgba(0,0,0,0.14) 68%, rgba(0,0,0,0.00) 100%);
    z-index: 0;
  }

  @media (min-width: @screen-sm) {
    min-height: 320px;
    margin-bottom: 2rem;
  }

  &__content {
    z-index: 2;
    position: relative;
    color: @text-color--light;
  }

  &__name {
    font-size: 1.125rem;
    position: relative;
    text-transform: uppercase;
    color: @text-color--light;
    font-family: @font-family--heading;
    margin-top: 0;

    &::after {
      position: absolute;
      content: '';
      width: 87px;
      height: 2px;
      bottom: -1rem;
      left: 0;
      background-color: currentColor;
    }

    @media (min-width: @screen-sm) {
      font-size: 1.5rem;
    }
  }
}