<footer class="s-page-footer" role="contentinfo">
  <div class="container">
    <div class="s-page-footer__content row">
      <div class="hidden-xs hidden-sm col-md-3">
        <div class="s-page-header__nav-group">
          <h3 class="s-page-footer__subtitle">Авто</h3>
          <ul class="s-page-footer__nav-list">
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Представительские</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Премиум</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Кабриолеты</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Ретро</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Кит-кар</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Внедорожники</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-3">
        <div class="s-page-header__nav-group">
          <h3 class="s-page-footer__subtitle">Бренды</h3>
          <ul class="s-page-footer__nav-list">
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Jaguar</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Mercedes</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Bantley</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Cadilac</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Jeep</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Audi</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-3">
        <div class="s-page-header__nav-group">
          <h3 class="s-page-footer__subtitle">Услуги</h3>
          <ul class="s-page-footer__nav-list">
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Бронирование автомобилей</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Трансфер для гостей</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Украшение автомобиля</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Видеосъемка</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Номер для молодожёнов</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Туристический трансфер</a>
            </li>
            <li class="s-page-footer__nav-item">
              <a href="#" class="s-page-footer__nav-link">Встреча из роддома</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <h3 class="s-page-footer__subtitle">Наш адрес</h3>
        <address class="s-page-footer__address-group">
          <p class="s-page-footer__address-info">Санкт-Петербург <br>ул.Маршала Говорова, д. 29 <br>БЦ Командарм, офис 313<br></p>
          <p class="s-page-footer__office-hours">Пн - Вс: 10:00 - 22:00</p>
          <p class="s-page-footer__address-desc">Время везита просьба согласовать по телефону</p>
        </address>
      </div>
    </div>

    <div class="s-page-footer__content row">
      <div class="hidden-xs hidden-sm col-md-6">
        <a href="" class="s-page-footer__logo logo">
          <svg width="250" height="60" xmlns="http://www.w3.org/2000/svg">
            <title>Logo</title>
            <g fill="none" fill-rule="evenodd">
              <g>
                <circle fill="#516077" cx="30" cy="30" r="30"/>
                <path d="M27 42.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0-1a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9z" fill="#1F2A3A" fill-rule="nonzero"/>
                <path d="M33 42.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0-1a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9zM46.69 23.7c.01.029.006.06-.01.085l-1.695.956 1.322.864a.095.095 0 0 1-.065.136l-5.118 1.107a.093.093 0 0 1-.082-.021.096.096 0 0 1-.032-.08c.003-.047.003-.094.003-.142 0-1.637-1.317-2.97-2.936-2.97s-2.936 1.333-2.936 2.97a.095.095 0 0 1-.095.096h-13.26a.095.095 0 0 1-.094-.096c0-1.637-1.317-2.97-2.936-2.97-1.62 0-2.936 1.333-2.936 2.97 0 .063.003.126.007.186a.096.096 0 0 1-.094.102h-.576a.095.095 0 0 1-.085-.053l-.758-1.533a.096.096 0 0 1-.01-.043v-1.628c0-.042.422-.428.462-.44.05-.016 4.632-1.474 12.874-1.476l4.6-2.34a.093.093 0 0 1 .105.024c.027.03.033.073.015.108l-1.517 2.208h3.256c.01 0 1.034-.013 1.626-.915.198-.3.385-.422.564-.377.38.098.51.965.547 1.292 1.018-.005 2.63-.104 2.879-.355a.096.096 0 0 1 .097-.023l6.819 2.299c.028.01.05.031.06.06zM18.757 29c-1.308 0-2.368-1.072-2.368-2.395 0-1.322 1.06-2.394 2.368-2.394 1.307 0 2.368 1.072 2.368 2.394 0 1.323-1.06 2.395-2.368 2.395zm19.32 0c-1.307 0-2.367-1.072-2.367-2.395 0-1.322 1.06-2.394 2.368-2.394 1.308 0 2.368 1.072 2.368 2.394 0 1.323-1.06 2.395-2.368 2.395z" fill="#1F2A3A" fill-rule="nonzero"/>
                <path fill="#1F2A3A" d="M30 5.545L28.146 7l1.006-1.995L27 3.91l2.476.222L30 2l.524 2.132L33 3.91l-2.152 1.095L31.854 7zM30 55.545L28.146 57l1.006-1.995L27 53.91l2.476.222L30 52l.524 2.132L33 53.91l-2.152 1.095L31.854 57zM55 30.545L53.146 32l1.006-1.995L52 28.91l2.476.222L55 27l.524 2.132L58 28.91l-2.152 1.095L56.854 32zM5 30.545L3.146 32l1.006-1.995L2 28.91l2.476.222L5 27l.524 2.132L8 28.91l-2.152 1.095L6.854 32zM8 18.545L6.146 20l1.006-1.995L5 16.91l2.476.222L8 15l.524 2.132L11 16.91l-2.152 1.095L9.854 20zM52 18.545L50.146 20l1.006-1.995L49 16.91l2.476.222L52 15l.524 2.132L55 16.91l-2.152 1.095L53.854 20zM8 42.545L6.146 44l1.006-1.995L5 40.91l2.476.222L8 39l.524 2.132L11 40.91l-2.152 1.095L9.854 44zM52 42.545L50.146 44l1.006-1.995L49 40.91l2.476.222L52 39l.524 2.132L55 40.91l-2.152 1.095L53.854 44zM18 8.545L16.146 10l1.006-1.995L15 6.91l2.476.222L18 5l.524 2.132L21 6.91l-2.152 1.095L19.854 10zM42 8.545L40.146 10l1.006-1.995L39 6.91l2.476.222L42 5l.524 2.132L45 6.91l-2.152 1.095L43.854 10zM18 51.545L16.146 53l1.006-1.995L15 49.91l2.476.222L18 48l.524 2.132L21 49.91l-2.152 1.095L19.854 53zM42 51.545L40.146 53l1.006-1.995L39 49.91l2.476.222L42 48l.524 2.132L45 49.91l-2.152 1.095L43.854 53z"/>
              </g>
              <path d="M101.143 45.56V16.244H101L92.662 45.56h-3.114l-8.29-29.316h-.144V45.56H78V11.81h4.983l8.098 28.506h.192l8.001-28.506h5.175v33.75h-3.306zm13.648-11.155c0 1.303.112 2.503.335 3.6.224 1.096.551 2.049.983 2.86.43.81.974 1.445 1.629 1.906.655.46 1.43.691 2.324.691 1.15 0 2.076-.35 2.779-1.049a7.19 7.19 0 0 0 1.629-2.526l2.396 1.382a9.14 9.14 0 0 1-2.564 3.6c-1.134.969-2.58 1.453-4.336 1.453-2.651 0-4.712-1.112-6.181-3.337-1.47-2.224-2.204-5.29-2.204-9.2 0-1.843.191-3.543.575-5.1.383-1.557.934-2.892 1.653-4.004.718-1.112 1.597-1.978 2.635-2.598 1.038-.62 2.196-.93 3.474-.93 1.405 0 2.595.302 3.57.906.974.604 1.764 1.43 2.371 2.479.607 1.049 1.047 2.272 1.318 3.67.272 1.399.407 2.892.407 4.481v1.716h-12.793zm9.583-2.622c0-2.383-.367-4.298-1.102-5.744-.735-1.446-1.885-2.169-3.45-2.169-.926 0-1.7.279-2.324.835a6.651 6.651 0 0 0-1.533 2.05c-.4.81-.687 1.676-.863 2.597-.175.922-.263 1.732-.263 2.431h9.535zm12.266-4.719c.448-2.065 1.134-3.559 2.06-4.48.927-.922 1.981-1.383 3.163-1.383.256 0 .447.016.575.048l-.096 3.241a3.587 3.587 0 0 0-.36-.071 2.954 2.954 0 0 0-.406-.024c-.799 0-1.51.27-2.133.81s-1.142 1.24-1.557 2.098c-.415.858-.727 1.835-.934 2.931a17.516 17.516 0 0 0-.312 3.265v12.06h-3.162V27.876c0-.509-.008-1.057-.024-1.645l-.048-1.716c-.016-.556-.032-1.065-.048-1.525a12.69 12.69 0 0 0-.072-1.073h3.067c.064.604.112 1.359.144 2.264.032.906.048 1.867.048 2.884h.095zm14.127 0c.448-2.065 1.134-3.559 2.06-4.48.927-.922 1.981-1.383 3.163-1.383.256 0 .447.016.575.048l-.096 3.241a3.587 3.587 0 0 0-.36-.071 2.954 2.954 0 0 0-.406-.024c-.799 0-1.51.27-2.133.81-.622.54-1.142 1.24-1.557 2.098-.415.858-.727 1.835-.934 2.931a17.516 17.516 0 0 0-.312 3.265v12.06h-3.162V27.876a60.8 60.8 0 0 0-.024-1.645l-.048-1.716c-.016-.556-.032-1.065-.048-1.525-.016-.461-.04-.819-.072-1.073h3.067c.064.604.112 1.359.144 2.264.032.906.048 1.867.048 2.884h.095zm17.761 23.5a18.771 18.771 0 0 1-.886 2.718c-.336.794-.743 1.462-1.222 2.002-.48.54-1.03.961-1.653 1.263-.623.302-1.366.453-2.228.453-.448 0-.895-.04-1.342-.12a8.087 8.087 0 0 1-1.102-.261l.431-2.813c.224.064.495.127.815.19a4.9 4.9 0 0 0 .958.096c.926 0 1.621-.318 2.084-.953.464-.636.839-1.51 1.126-2.622l1.054-4.1-6.9-24.5h3.355l5.127 19.972h.096l4.551-19.973h3.21l-7.474 28.649zm32.375-8.818c-.895 1.494-2.029 2.638-3.402 3.432-1.374.795-2.923 1.192-4.648 1.192-1.853 0-3.498-.453-4.935-1.359-1.438-.905-2.652-2.145-3.642-3.718-.99-1.573-1.749-3.44-2.276-5.6-.527-2.162-.79-4.497-.79-7.008 0-2.542.263-4.894.79-7.055.527-2.16 1.294-4.028 2.3-5.601 1.006-1.573 2.228-2.804 3.666-3.694 1.437-.89 3.066-1.335 4.887-1.335 1.597 0 3.09.334 4.48 1.001 1.39.667 2.548 1.716 3.474 3.146l-2.156 2.193c-.735-1.112-1.59-1.939-2.564-2.479a6.28 6.28 0 0 0-3.09-.81c-1.406 0-2.628.381-3.666 1.144-1.038.763-1.9 1.811-2.587 3.146-.687 1.335-1.198 2.892-1.533 4.671-.336 1.78-.504 3.67-.504 5.673 0 2.002.176 3.885.527 5.649.352 1.763.87 3.313 1.558 4.647.687 1.335 1.549 2.392 2.587 3.17 1.038.779 2.26 1.168 3.666 1.168a5.69 5.69 0 0 0 3.306-1.025c.99-.683 1.805-1.58 2.444-2.693l2.108 2.145zm14.654 3.814a11.846 11.846 0 0 1-.072-.954l-.048-1.215a33.349 33.349 0 0 1-.024-1.24v-1.025h-.096c-.798 3.369-2.715 5.053-5.75 5.053-.67 0-1.341-.127-2.012-.381-.67-.254-1.278-.667-1.82-1.24-.544-.571-.991-1.294-1.342-2.168-.352-.874-.527-1.93-.527-3.17 0-1.716.303-3.099.91-4.147.607-1.05 1.373-1.875 2.3-2.48a8.325 8.325 0 0 1 3.042-1.215 17.058 17.058 0 0 1 3.139-.31h1.869V29.83c0-2.066-.384-3.575-1.15-4.528-.767-.954-1.805-1.43-3.115-1.43-.894 0-1.725.238-2.491.714a7.095 7.095 0 0 0-1.965 1.812l-1.677-1.955a7.36 7.36 0 0 1 2.875-2.43c1.182-.573 2.364-.859 3.546-.859 2.491 0 4.264.81 5.318 2.431 1.054 1.621 1.581 3.989 1.581 7.103v9.82c0 .318.008.715.024 1.191l.048 1.454c.016.493.04.954.072 1.383.032.429.064.77.096 1.025h-2.731zm-1.382-12.013h-1.916c-.767 0-1.534.072-2.3.215a5.37 5.37 0 0 0-2.037.81c-.59.397-1.078.945-1.461 1.645-.383.699-.575 1.604-.575 2.717 0 1.652.367 2.844 1.102 3.575.735.73 1.533 1.096 2.396 1.096.894 0 1.653-.27 2.276-.81.623-.54 1.118-1.224 1.485-2.05.367-.826.631-1.732.79-2.717.16-.985.24-1.939.24-2.86v-1.62zm14.127-6.483c.448-2.065 1.134-3.559 2.06-4.48.927-.922 1.981-1.383 3.163-1.383.256 0 .447.016.575.048l-.096 3.241a3.587 3.587 0 0 0-.36-.071 2.954 2.954 0 0 0-.406-.024c-.799 0-1.51.27-2.133.81s-1.142 1.24-1.557 2.098c-.415.858-.727 1.835-.934 2.931a17.516 17.516 0 0 0-.312 3.265v12.06h-3.162V27.876c0-.509-.008-1.057-.024-1.645l-.048-1.716c-.016-.556-.032-1.065-.048-1.525-.016-.461-.04-.819-.072-1.073h3.067c.064.604.112 1.359.144 2.264.032.906.048 1.867.048 2.884h.095zm19.83-1.048a5.108 5.108 0 0 0-1.606-1.693c-.655-.429-1.445-.643-2.372-.643-1.022 0-1.86.373-2.515 1.12-.655.747-.982 1.724-.982 2.932 0 1.27.319 2.192.958 2.764.639.572 1.597 1.097 2.875 1.573.639.255 1.277.565 1.916.93a7.024 7.024 0 0 1 1.701 1.359c.495.54.903 1.183 1.222 1.93.32.747.48 1.645.48 2.693 0 2.32-.632 4.124-1.893 5.41-1.262 1.288-2.9 1.931-4.912 1.931-1.341 0-2.571-.31-3.69-.93a8.211 8.211 0 0 1-2.778-2.502l1.916-2.05a7.376 7.376 0 0 0 1.941 2.026c.75.525 1.637.787 2.66.787 1.117 0 2.02-.405 2.706-1.216.687-.81 1.03-1.883 1.03-3.217 0-.763-.127-1.407-.383-1.93a3.947 3.947 0 0 0-1.006-1.312 6.706 6.706 0 0 0-1.413-.905 22.444 22.444 0 0 0-1.653-.715 11.633 11.633 0 0 1-1.75-.81 5.864 5.864 0 0 1-1.509-1.24 5.939 5.939 0 0 1-1.078-1.835c-.271-.715-.407-1.581-.407-2.598 0-.986.168-1.891.503-2.717a6.114 6.114 0 0 1 1.414-2.122 6.806 6.806 0 0 1 2.084-1.382 6.468 6.468 0 0 1 2.563-.5c1.342 0 2.5.262 3.474.786.974.524 1.765 1.2 2.372 2.026l-1.869 2.05z" fill="#516077"/>
            </g>
          </svg>
        </a>
        <div class="s-page-footer__copyright">© 2013—2017 MerryCars.ru — аренда автомобилей на свадьбу</div>
      </div>
      <div class="s-page-footer__contact col-xs-12 col-md-3">
        <h3 class="s-page-footer__subtitle">Контакты</h3>
        <ul class="s-page-footer__contact-list">
          <li class="s-page-footer__contact-item">
            <a href="tel:+78121234567" class="s-page-footer__contact-link">
              <svg width="20" height="20"><use xlink:href="#phone"></use></svg>
              +7 (812) 123-45-67
            </a>
          </li>
          <li class="s-page-footer__contact-item">
            <a href="mailto:office@merycars.ru" class="s-page-footer__contact-link">
              <svg width="22" height="18"><use xlink:href="#mail"></use></svg>
              office@merycars.ru
            </a>
          </li>
        </ul>
      </div>
      <div class="s-page-footer__social col-xs-12 col-md-3">
        <h3 class="s-page-footer__subtitle">Мы в соцсетях</h3>
        <div class="social">
          <ul class="social__list">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width="24" height="14"><use xlink:href="#vk"></use></svg>
                Вконтакте
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width="24" height="24"><use xlink:href="#instagram"></use></svg>
                Инстаграмм
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
