.s-page-footer {
  background-color: @bg-color--darkest;
  padding: 2rem 1rem;
  color: @chambray;

  @media (min-width: @screen-md) {
    padding: 4rem 0;
  }

  &__content {

    &:not(:last-child) {

      @media (min-width: @screen-md) {
        margin-bottom: 3rem;
      }
    }
  }

  &__subtitle {
    color: @text-color--light;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__nav-group {}

  &__nav-list {
    color: @chambray;
    list-style-type: none;
  }

  &__nav-item {}

  &__nav-link {
    display: inline-block;
    color: inherit;
    padding: 0.25rem 0;

    &:hover,
    &:active {
      color: @link-water;
    }
  }

  &__address-group {
    font-style: normal;
    color: @ship-cove;
    margin-bottom: 2rem;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }

  &__address-info {
    margin-bottom: 2rem;
  }

  &__office-hours {
    margin-bottom: 0.5rem;
  }

  &__address-desc {
    margin-top: 0;
  }

  &__contact {
    color: @ship-cove;
    margin-bottom: 2rem;

    @media (min-width: @screen-md) {
      margin-bottom: 0;
    }
  }

  &__contact-list {
    list-style-type: none;
  }

  &__contact-link {
    color: currentColor;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    svg {
      stroke: currentColor;
      vertical-align: middle;
      margin-right: 0.75rem;
      transform: translateY(-0.125rem);
    }

    &:hover,
    &:active {
      color: @link-water;
    }
  }
}