.s-calculate-the-cost {
  background-color: transparent;
  min-height: 170px;
  position: relative;
  border-radius: 4px;
  padding: 2rem;
  padding-bottom: 6rem;
  z-index: 1;
  border: 2px solid @golden-tainoi;

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 8rem;
    transform: translate(50%,-50%);
    width: 136px;
    height: 136px;
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/calculate-the-cost-shape.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: none;
  }

  @media (min-width: @screen-sm) {
    min-height: 320px;
  }

  @media (min-width: @screen-md) {
    padding-right: 45%;
  }

  @media (min-width: @screen-lg) {
    padding-right: 45%;

    &::before {
      display: block;
    }
  }

  &__title {
    font-size: 1.125rem;
    position: relative;
    text-transform: uppercase;
    color: @resolution-blue;
    font-family: @font-family--heading;
    margin-top: 0;
    margin-bottom: 2rem;

    &::after {
      position: absolute;
      content: '';
      width: 87px;
      height: 2px;
      bottom: -1rem;
      left: 0;
      background-color: currentColor;
    }

    @media (min-width: @screen-sm) {
      font-size: 1.5rem;
      margin-bottom: 4rem;
    }
  }

  &__desc {
    color: @text-color;
  }

  &__btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
  }
}