<div class="s-order-a-car">
  <div class="container">
    <form class="s-order-a-car__form s-form">
      <div class="row">
        <div class="s-form__group col-xs-12 col-sm-4">
          <label for="name" class="s-form__label s-form__label--sr-only">Имя</label>
          <input type="text" class="s-form__input" placeholder="Ваше имя" required>
        </div>
        <div class="s-form__group col-xs-12 col-sm-4">
          <label for="phone-number" class="s-form__label s-form__label--sr-only">Телефон</label>
          <input type="tel" class="s-form__input" placeholder="Телефон" required>
        </div>
        <div class="s-form__group col-xs-12 col-sm-4">
          <button type="submit" class="s-btn s-btn--form-submit">Заказать авто</button>
        </div>
      </div>
    </form>
  </div>
</div>
