.s-order-a-car {
  position: relative;
  background-color: @bg-color--default;
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;

  &::before {
    position: absolute;
    content: '';
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 36px;
    height: 8px;
    top: 2.5rem;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__form {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: @screen-sm) {
      max-width: 800px;
    }
  }
}