.s-testimonials-list {
  background-color: @bg-color--light;

   &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }
  }
}