<section class="s-testimonials-list">
  <div class="container">
    <h2 class="s-testimonials-list__title s-main-subtitle">Отзывы</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="s-customer-review">
          <div class="s-customer-review__cover">
            <!-- <img src="img/customer-review-cover-1.png" alt=""> -->
            <a href="https://nyweddingco.files.wordpress.com/2014/09/shockblast_sexy_little_bride_photoshoot_131.jpg" data-fancybox="images-preview">
              <img src="https://nyweddingco.files.wordpress.com/2014/09/shockblast_sexy_little_bride_photoshoot_131.jpg" />
            </a>
            <div style="display: none;">
              <a href="https://nyweddingco.files.wordpress.com/2014/09/shockblast_sexy_little_bride_photoshoot_71.jpg" data-fancybox="images-preview"
              data-thumb="https://nyweddingco.files.wordpress.com/2014/09/shockblast_sexy_little_bride_photoshoot_71.jpg"></a>
            </div>
          </div>
          <div class="s-customer-review__info">
            <time class="s-customer-review__date" datetime="2018-03-01 00:00">1 марта 2018</time>
            <span class="s-customer-review__customer-name">Елена</span>
            <a href="#" class="s-customer-review__link-to-original">Текст отзыва Вконтакте</a>
          </div>
          <div class="s-customer-review__text">
            <p>Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="s-customer-review">
          <div class="s-customer-review__cover">
            <img src="img/customer-review-cover-2.png" alt="">
          </div>
          <div class="s-customer-review__info">
            <time class="s-customer-review__date" datetime="2018-03-01 00:00">1 марта 2018</time>
            <span class="s-customer-review__customer-name">Елена</span>
            <a href="#" class="s-customer-review__link-to-original">Текст отзыва Вконтакте</a>
          </div>
          <div class="s-customer-review__text">
            <p>Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="s-customer-review">
          <div class="s-customer-review__cover">
            <img src="img/customer-review-cover-3.png" alt="">
          </div>
          <div class="s-customer-review__info">
            <time class="s-customer-review__date" datetime="2018-03-01 00:00">1 марта 2018</time>
            <span class="s-customer-review__customer-name">Елена</span>
            <a href="#" class="s-customer-review__link-to-original">Текст отзыва Вконтакте</a>
          </div>
          <div class="s-customer-review__text">
            <p>Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="s-customer-review">
          <div class="s-customer-review__cover">
            <img src="img/customer-review-cover-4.png" alt="">
          </div>
          <div class="s-customer-review__info">
            <time class="s-customer-review__date" datetime="2018-03-01 00:00">1 марта 2018</time>
            <span class="s-customer-review__customer-name">Елена</span>
            <a href="#" class="s-customer-review__link-to-original">Текст отзыва Вконтакте</a>
          </div>
          <div class="s-customer-review__text">
            <p>Наша компания предоставляет услуги аренды авто на свадьбу на протяжении уже нескольких лет. Одним из наших преимуществ является возможность выбора среди множества различных предложений. Вниманию заказчика будут предложены самые различные варианты комплектования свадебного кортежа. Это могут быть и автомобили премиум-класса, кабриолеты …</p>
          </div>
        </div>
      </div>
    </div>

    <nav class="s-pagination" aria-label="Testimonials navigation">
      <ul class="s-pagination__list">
        <li class="s-pagination__item">
          <a href="#" class="s-pagination__link s-pagination__link--previous" aria-label="Previous">
            <svg viewBox="0 0 15 8" xmlns="http://www.w3.org/2000/svg">
              <g fill="#bec4cf" fill-rule="evenodd">
                <path d="M10 1.925V6.99l3.473-2.626L10 1.924zm.575-.819l3.473 2.44a1 1 0 0 1 .028 1.616l-3.473 2.626A1 1 0 0 1 9 6.99V1.925a1 1 0 0 1 1.575-.819z" fill-rule="nonzero"/>
                <rect y="4" width="10" height="1" rx=".5"/>
              </g>
            </svg>
          </a>
        </li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">1</a></li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">2</a></li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">3</a></li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">4</a></li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">…</a></li>
        <li class="s-pagination__item"><a href="#" class="s-pagination__link">11</a></li>
        <li class="s-pagination__item">
          <a href="#" class="s-pagination__link s-pagination__link--next" aria-label="Next">
            <svg viewBox="0 0 15 8" xmlns="http://www.w3.org/2000/svg">
              <g fill="#bec4cf" fill-rule="evenodd">
                <path d="M10 1.925V6.99l3.473-2.626L10 1.924zm.575-.819l3.473 2.44a1 1 0 0 1 .028 1.616l-3.473 2.626A1 1 0 0 1 9 6.99V1.925a1 1 0 0 1 1.575-.819z" fill-rule="nonzero"/>
                <rect y="4" width="10" height="1" rx=".5"/>
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>