.s-calculator {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @media (min-width: @screen-md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }
  }

  &__options {
    margin-bottom: 2rem;
  }

  &__options-car-photo {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: @screen-md) {
      height: 150px;
    }
  }

  &__summary {
    margin-bottom: 2rem;
  }

  &__summary-table {
    border-collapse: collapse;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: @font-family--heading;

    @media (min-width: @screen-sm) {
      font-size: 1.125rem;
    }
  }

  &__summary-type {
    padding: 0.25rem 0;
  }

  &__summary-result {
    padding: 0.25rem 0;
    text-align: right;
  }

  &__summary-desc {
    font-size: 0.75rem;
    line-height: 1.2em;
    display: inline-block;
    max-width: 40em;
  }

  &__feedback-desc {
    line-height: 1.25em;

    p {
      margin-top: 0;
    }
  }
}