<section class="s-calculator">
  <div class="container">
    <h2 class="s-calculator__title s-main-subtitle">Выбор автомобиля</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="s-calculator__options">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="s-calculator__options-car-photo">
                <img src="img/luxury.png" alt="">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="s-calculator__options-form">
                <div class="s-form__group">
                  <select name="car-model" id="car-model" class="s-form__input s-form__input--select">
                    <option value="hide">Модель</option>
                    <option value="">Cadillac Escalade</option>
                    <option value="">Cadillac CT6</option>
                    <option value="">Cadillac CTS</option>
                    <option value="">Cadillac XT5</option>
                  </select>
                </div>
                <div class="s-form__group">
                  <label for="date" class="s-form__label s-form__label--sr-only">Имя</label>
                  <input type="date" id="date" class="s-form__input s-form__input--date" placeholder="Дата" autocomplete required>
                </div>
                <div class="s-form__group"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="s-calculator__summary">
          <table class="s-calculator__summary-table">
            <tr>
              <td class="s-calculator__summary-type">Стоимость поездки:</td>
              <td class="s-calculator__summary-result">
                <span id="cost-per-hour">3 000 ₽/час</span>
              </td>
            </tr>
            <tr>
              <td class="s-calculator__summary-type">Продолжительность:</td>
              <td class="s-calculator__summary-result">
                <span id="rent-duration">9 ч + 1 час подача</span>
              </td>
            </tr>
            <tr>
              <td class="s-calculator__summary-type">Сумма заказа:</td>
              <td class="s-calculator__summary-result">
                <span id="total-cost">30 000 ₽</span>
              </td>
            </tr>
          </table>
          <div class="s-calculator__summary-desc">Заказать украшение свадебного автомобиля и свадебную съемку в авто вы сможете при разговоре с нашим сотрудником после завершения бронирования.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="s-calculator__feedback-form">
          <form action="" class="s-form">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="s-form__group">
                  <label for="name" class="s-form__label s-form__label--sr-only">Имя</label>
                  <input type="text" id="name" class="s-form__input" placeholder="Ваше имя" required>
                </div>
                <div class="s-form__group">
                  <label for="phone-number" class="s-form__label s-form__label--sr-only">Телефон</label>
                  <input type="tel" id="phone-number" class="s-form__input" placeholder="Телефон" required>
                </div>
                <div class="s-form__group">
                  <label for="e-mail" class="s-form__label s-form__label--sr-only">E-mail</label>
                  <input type="email" id="e-mail" class="s-form__input" placeholder="E-mail" required>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="s-form__group">
                  <textarea name="wishes" id="wishes" class="s-form__textarea" placeholder="Пожелания"></textarea>
                </div>
                <div class="s-form__group">
                  <button type="submit" class="s-btn s-btn--form-submit">Отправить заявку</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="s-calculator__feedback-desc">
          <p>Пожалуйста, укажите имя и телефон для связи с Вами. Если Вам предпочтительнее общаться по e-mail, укажите e-mail адрес и напишите об этом в поле "Ваши пожелания". Там же можно указать удобное время для связи.</p>
        </div>
      </div>
    </div>
  </div>
</section>