.s-rent-info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: @bg-color--light;

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }
  }

  &__slider {

  }

  &__subtitle {
    font-size: 1.5rem;
    position: relative;
    color: @resolution-blue;
    margin-bottom: 4rem;

    &::after {
      position: absolute;
      content: '';
      width: 87px;
      height: 2px;
      bottom: -1rem;
      left: 0.1rem;
      background-color: currentColor;
    }
  }

  &__season {
    color: @ship-cove;
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__price {
    margin-bottom: 2rem;

    td {
      position: relative;

      &:first-child {
        text-transform: uppercase;
        width: 80px;
        vertical-align: top;

        &::after {
          position: absolute;
          content: '';
          right: 0;
          top: 0.675rem;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          border: 1px solid #abb3c1;
        }
      }

      &:nth-child(2) {
        padding-left: 1.25rem;
      }
    }

    @media (min-width: @screen-md) {
      font-size: 0.875rem;
    }

    @media (min-width: @screen-lg) {
      font-size: @font-size;
    }
  }

  &__additional-info {
    color: @ship-cove;
    line-height: 1.25em;
    margin-top: 1rem;

    p {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}