.s-form {

  &__group {
    margin-bottom: 1rem;
  }

  &__label {

    &--sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }

  &__input {
    width: 100%;
    height: 44px;
    min-width: 200px;
    border: 1px solid @input-border;
    border-radius: 2px;
    padding: 12px 20px;

    &::placeholder {
      color: @input-border;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: @input-border-focus;
    }

    @media (min-width: @screen-lg) {
      min-width: 220px;
    }

    &--date {

      &::before {
        content: attr(placeholder);
        color: @input-border;
        width: 100%;
      }

      &:focus,
      &:valid {

        &::before {
          display: none;
        }
      }
    }

    &--select {

    }
  }

  &__textarea {
    width: 100%;
    min-height: 104px;
    vertical-align: top;
    resize: none;
    border: 1px solid @input-border;
    border-radius: 2px;
    padding: 12px 20px;

    &::placeholder {
      color: @input-border;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: @input-border-focus;
    }
  }
}