<section class="s-special-offers">
  <div class="container">
    <h2 class="s-special-offers__title s-main-subtitle">Спецпредложения</h2>
    <div class="s-special-offers__slider s-main-slider owl-carousel owl-theme">
      <a href="#" class="s-special-offers__product">
        <div class="s-product-card" style="background-image: url(img/sp-offers-example-first.png);">
          <div class="s-product-card__content">
            <h3 class="s-product-card__name">Jaguar XF от 1000 руб./час</h3>
          </div>
        </div>
      </a>
      <a href="#" class="s-special-offers__product">
        <div class="s-product-card" style="background-image: url(img/sp-offers-example-second.png);">
          <div class="s-product-card__content">
            <h3 class="s-product-card__name">Jaguar XF от 1000 руб./час</h3>
          </div>
        </div>
      </a>
    </div>
    <a href="#" class="s-btn s-btn--ghost s-btn--with-shape">
      Все предложения
      <svg width="26" height="7"><use xlink:href="#btn-shape"></use></svg>
    </a>
  </div>
</section>
