.s-special-offers {
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
  background-color: @bg-color--light;

  @media (min-width: @screen-md) {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }

  &__title {

    &::before {
      width: 36px;
      height: 7px;
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-mobile-default.svg');
    }

    @media (min-width: @screen-md) {

      &::before {
        top: -3rem;
        width: 169px;
        height: 63px;
        background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/monogram-desktop-special-offers.svg');
      }
    }
  }

  &__slider {
    text-align: left;
  }

  &__product {

    @media (min-width: @screen-lg) {

      .s-product-card {
        transition: all 0.25s ease-in 0.125s;
      }

      &:hover {

        .s-product-card {
          transition: all 0.25s ease-in 0s;
          box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
        }
      }
    }
  }
}