.s-hamburger {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  display: inline-block;
  z-index: 3;
  cursor: pointer;

  span {
    position: absolute;
    display: block;
    content: '';
    background-color: @hamburger-color;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    transform: translate(-50%,-50%);

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: @hamburger-color;
      width: 24px;
      height: 2px;
      border-radius: 1px;
    }

    &::before {
      top: -0.5rem;
    }

    &::after {
      bottom: -0.5rem;
    }
  }

  &--is-active {

    span {
      background-color: @bg-color--default;
      transform: translate(-50%,-50%) rotate(45deg);

      &::before,
      &::after {
        top: 0;
        bottom: 0;
        background-color: @bg-color--default;
        transform: rotate(-90deg);
      }
    }
  }
}